---
import Layout from "~/layouts/Layout.astro";

const session = Astro.locals.session;
const user = Astro.locals.user;

if (user === null || session === null) {
  return Astro.redirect("/auth/login");
}
---

<Layout>
  <div>hello</div>
</Layout>
