---
import { onMount } from "nanostores";
import { eq } from "drizzle-orm";
import { Effect, Exit } from "effect";

import Layout from "~/layouts/Layout.astro";
import { $todos } from "~/atoms/todos-atom";
import { db } from "~/server/db";
import { todos, users, type Todo } from "~/server/db/schema";
import { NetworkError } from "~/lib/error";

const user = Astro.locals.user;

if (user === null) {
  return Astro.redirect("/auth/login");
}

function getTodos() {
  return Effect.tryPromise({
    try: () =>
      db.query.todos.findMany({
        where: eq(todos.userId, user!.id),
      }),
    catch: () => new NetworkError(),
  });
}

Effect.runPromiseExit(getTodos()).then((value) => {
  return Exit.match(value, {
    onFailure: (cause) => {
      console.error(`Exited with failure: ${cause}`);
    },
    onSuccess: (value) => {
      $todos.set(value);
    },
  });
});
---

<Layout>
  <main>
    <div class="lg:px:-6 flex flex-col p-4 2xl:flex-row">
      <div class="2xl:w-96">
        <h2 class="text-center text-xl font-semibold">Create Todo</h2>
        <form
          class="mt-6"
          id="todo-submit-form"
          action="/partials/create-todo"
          method="post"
          x-init
          x-target="todo-list"
        >
          <div>
            <label class="label label-text" for="todo">TODO</label>
            <input class="input input-bordered w-full" type="text" name="title" id="title" />
          </div>
          <div class="mt-4">
            <label class="label label-text" for="description">Description</label>
            <textarea
              class="textarea textarea-bordered max-h-96 w-full resize-none"
              name="description"
              id="description"
              x-data
              x-autosize></textarea>
          </div>
          <div class="mt-4">
            <label class="label label-text" for="tags">Tags</label>
            <div>
              <select class="select select-bordered w-full" multiple x-data="{ tags: [] }">
                <template x-for="tag in [1, 2, 3, 4, 5]">
                  <option x-text="tag" x-bind:value="tag" x-bind:selected="tags.includes(tag)"></option>
                </template>
              </select>
            </div>
          </div>
          <div class="flex justify-end">
            <button class="btn btn-primary" type="submit">Create</button>
          </div>
          <div></div>
        </form>
      </div>
      <div class="flex-1">
        <div id="todo-list" x-target x-init="$ajax('/partials/get-todos', { method: 'post' })"></div>
      </div>
    </div>
  </main>
</Layout>
