---
export const partial = true;

import { Effect } from "effect";
import { eq } from "drizzle-orm"

import { db } from "~/server/db";
import { NetworkError } from "~/lib/error";

const user = Astro.locals.user;

if (!user) {
  throw new Error("Unauthorized");
}

function getTodos() {
  return Effect.tryPromise({
    try: () => db.query.todos.findMany({
      with: {
        users: {
          where: {
            eq(users)
          }
        }
      }
    }),
    catch: () => new NetworkError(),
  });
}
---

<div id="todo-list" x-data="{ todos: [1, 2, 3] }">
  <template x-for="todo in todos">
    <div>
      <h3 x-text="todo"></h3>
    </div>
  </template>
</div>
