---
export const partial = true;

import { Effect } from "effect";

import { db } from "~/server/db";
import { NetworkError } from "~/lib/error";

const user = Astro.locals.user;

if (!user) {
  throw new Error("Unauthorized");
}

function getTodos() {
  return Effect.tryPromise({
    try: () =>
    catch: () => new NetworkError();
  });
}
---

<div x-data="{ todos: [] }"></div>
