---
import Navbar from "~/components/Navbar.astro";
import "~/styles/global.css";

type Props = {
  title?: string;
};

const { title = "Alpine Todos" } = Astro.props;
---

<html
  lang="en"
  x-data="{theme: $persist(window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light')}"
  x-cloak
  x-bind:data-theme="theme"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
  <script src="~/scripts/alpine.ts"></script>
</html>
